<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="app">
<head th:include="fragments/head :: head"></head>
<body>
<div data-ng-controller="NavbarController" class="container" th:include="fragments/header :: header"></div>
<div data-ng-controller="CategoriesController" class="container">
    <table class="table table-striped">
        <tr ng-repeat="category in categories">
            <td>
                <a href="/categories/{{ category.id }}/resources">{{ category.title }}</a>
            </td>
            <!--<td>-->
                <!--<button ng-click="deleteResource(resource.id, $index)" class="btn btn-default">-->
                    <!--<span class="glyphicon glyphicon-remove"></span>-->
                <!--</button>-->
            <!--</td>-->
        </tr>
    </table>
</div>
</body>
</html>