<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="app">
    <head th:include="fragments/head :: head"></head>
    <body data-ng-controller="LoginController">
        <div class="container">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Password" />
                </div>
                <div id="login-error" class="form-group has-error">
                    <span class="help-block">Wrong username/password!</span>
                </div>
                <button type="button" class="btn btn-default" ng-click="login()">Login</button>
            </form>
        </div>
    </body>
</html>