<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="app">
    <head th:include="fragments/head :: head"></head>
    <body data-ng-controller="ResourcesController">
        <div class="container" th:include="fragments/header :: header"></div>
        <div class="container">
            <table class="table table-striped">
                <tr ng-repeat="resource in resources">
                    <td>
                        <a href="/resources/{{ resource.id }}">
                            <b>{{ resource.title }}</b><br />
                            {{ resource.content.substr(0, 20) }}...
                        </a>
                    </td>
                    <td>
                        <button ng-click="deleteResource(resource.id, $index)" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>